@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Rajdhani:wght@300;400;500;600;700&family=WDXL+Lubrifont+TC&display=swap');
body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;

}

h2 {
  margin: 0;
}

.contents-wrapper {
  width: 50vw;
  /* height: 100vh; */
  margin: 0 auto;
  border: 1px solid red;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.header-container {
  width: 100%;
  height: 9vh;
  background: black;
}

.card-container {
  width: 90%;
  height: 50vh;
  border-radius: 2vh;
  margin: 5% 0;
  
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}

.addWords-header {
  width: 100%;
  height: 8vh;
  border-radius: 2vh 2vh 0 0;
  background-color: black;
  display: flex;
  align-items: center;
  padding: 1vh;
  box-sizing: border-box;
}

.main-text {
  font-size: 1.5rem;
  font-weight: 600;
  color:rgb(230, 230, 230);
}

.word-input-wrapper {
  width: 20vw;
  height: 10vh;
  /* border: 1px solid red; */
}

.addWords-input-container {
  flex: 1;
  
  padding: 2vh;
  box-sizing: border-box;
}

.addWords-padding-wrapper {
  width: 100%;
  display: flex;
  gap: 3vh; 
  flex-wrap: wrap;
  justify-content: space-between;
}

.word-input {
  border: none;
  border-radius: 0.5vh;
  background: #ebebeb;
  width: 100%;
  height: 70%;
  font-size: 1rem;
  color: rgb(51, 51, 51);
  margin-top: 0.2rem;

  box-sizing: border-box;
  padding: 0.5rem;
}

.submit-wrapper {
  width: 100%;
  height: 25%;
  /* border: 1px solid red; */

  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-button {
  width: 15vh;
  height: 3vw;
  border-radius: 0.2rem;
  background: rgb(73, 73, 255);
  display : flex;
  justify-content : center;
  align-items : center;

  color: white;
  font-weight: 500;
  
  
}


.addWords {
  height: 60vh;
}

input:focus {
  outline: none;
  border: none; /* optional, only if you want no border at all */
}
input::placeholder {
  font-size: 1rem;
}


@media (max-width: 768px) {
  body {
    font-size: 20px;
    color: white;

  }
  .header-container {
    width: 100%;
    height: 6rem;
    background: black;
  }

  .contents-wrapper {
  width: 100vw;
  }


}


@media (min-width: 769px) and (max-width: 1024px) {
    body {
    font-size: 30px;
    color: white;

  }
  .header-container {
    width: 100%;
    height: 10rem;
    background: black;
  }

  .contents-wrapper {
  width: 100vw;
  }

}
